---
BasedOnStyle: LLVM

IndentWidth: 8
UseTab: ForIndentation

BreakBeforeBraces: Linux
#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterEnum: false
#  AfterStruct: false
#  SplitEmptyFunction: false

AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false


# custom
AlignConsecutiveAssignments: true
#AlignConsecutiveMacros: true


